global
  log stdout format raw local0
  maxconn 10000

defaults
  log global
  timeout client 600s
  timeout connect 600s
  timeout server 600s

frontend fe_write_read
  bind :5432
  mode tcp
  default_backend be_write_read

backend be_write_read
  option httpchk
  http-check expect status 200
  default-server inter 10s fall 3 rise 3 on-marked-down shutdown-sessions
  server postgres1 10.141.1.225:5432 check port 8009
  server postgres2 10.141.1.226:5432 check port 8009
  server postgres3 10.141.1.227:5432 check port 8009

frontend fe_read
  bind :5433
  mode tcp
  default_backend be_read

backend be_read
  default-server inter 10s fall 3 rise 3 on-marked-down shutdown-sessions
  server postgres1 10.141.1.225:5432 check 
  server postgres2 10.141.1.226:5432 check
  server postgres3 10.141.1.227:5432 check

frontend stats
  mode http
  bind *:8404
  stats enable
  stats uri /stats
  stats refresh 10s
