global
  log stdout format raw local0
  maxconn 10000

defaults
  log global
  timeout client 600s
  timeout connect 600s
  timeout server 600s

frontend fe_write_read
  bind :5432
  mode tcp
  default_backend be_write_read

backend be_write_read
  options http-check
  http-check expect status 200
  default-server inter 10s fall 3 rise 3 on-marked-down shutdown-sessions
  server postgres1 10.143.120.34:5432 check 8009
  server postgres2 10.143.120.35:5432 check 8009
  server postgres3 10.143.119.36:5432 check 8009

frontend fe_read
  bind :5433
  mode tcp
  default_backend be_read

backend be_read
  default-server inter 10s fall 3 rise 3 on-marked-down shutdown-sessions
  server postgres1 10.143.120.34:5432 check
  server postgres2 10.143.120.35:5432 check 
  server postgres3 10.143.119.36:5432 check 
